
{% extends './admin/adminbase.html.twig' %}

{% block title %}Type Matériel | {{ parent() }}{% endblock %}

{% block body %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Type Matériel </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    {% if is_granted("ROLE_INFO_ADMIN")== true %}
                        <li>
                            <a class="link" href="{{ path('app_admin_materiel_delete', {'id': materiel.id}) }}" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                        </li>
                        <li>
                            <a class="link" href="{{ path('app_admin_materiel_edit', {'id': materiel.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="link" href="{{ path('app_admin_materiel_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fsa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="attribution-tab" data-toggle="tab" href="#attribution" role="tab" aria-controls="attribution" aria-selected="false">Historique Attribution</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="maintenance-tab" data-toggle="tab" href="#maintenance" role="tab" aria-controls="maintenance" aria-selected="false">Historique Maintenance</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Matériels</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p><strong>Id</strong>: {{ materiel.id }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Matériel</strong>: {{ materiel.typematos.NomTypeMatos}} {{ materiel.marqueMatos.NomMarqueMatos }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Modèle du Matériel</strong>: {{ materiel.modeleMatos }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Numéro de Série</strong>: {{ materiel.SnMatos }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Date de Rececption</strong>: {{ materiel.dateReception ? materiel.dateReception|date('d-m-Y') : '' }} </p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Fournisseur</strong>: {{ materiel.fournisseur.NomFournisseur }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Caractéristiques du Matériel</strong>: 
                                    <a type="button" class="link" data-toggle="modal" data-target=".info-example-modal-lg" class="text-decoration-none float-left m-1" title="Information">Voir les Informations <i class="fas fa-info text-danger"></i> </a>
                                    {% include "./admin/materiel/info_matos.html.twig" %}
                                </p>
                            </li>
                        </ul>  
                    </div>
                    <div class="tab-pane fade" id="attribution" role="tabpanel" aria-labelledby="attribution-tab">
                        {#% include "./admin/materiel/liste.html.twig" %#}
                    </div>
                    <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
                        {#% include "./admin/materiel/liste.html.twig" %#}
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {#% include "./admin/materiel/liste.html.twig" %#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}






  