<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administration | Ministère</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      <!-- Bootstrap -->
      <link href="{{asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="{{asset('assets/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
      <!-- NProgress -->
      <link href="{{asset('assets/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
  
      <!-- Custom Theme Style -->
      <link href="{{asset('assets/build/css/custom.min.css')}}" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          {% include "./admin/adminpartials/_sidebar.html.twig" %}
        </div>

        <!-- top navigation -->
          {% include "./admin/adminpartials/_navbar.html.twig" %}
        <!-- top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Informatique <small>Statistiques</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6">
                {% include "./admin/stat_informatique/matosByType.html.twig" %}
              </div>
              <div class="col-md-6 col-sm-6">
                {% include "./admin/stat_informatique/matosByMarque.html.twig" %}
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                {% include "./admin/stat_informatique/attribByYear.html.twig" %}
            </div>
              <div class="col-md-6 col-sm-6">
                {% include "./admin/stat_informatique/etatParc.html.twig" %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                
              </div>
            </div>
          </div>
        </div>
        <!-- page content -->

        <!-- footer content -->
        {% include "./admin/adminpartials/_footer.html.twig" %}
        <!-- footer content -->
      </div>
    </div>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      <script src="https://kit.fontawesome.com/112362d990.js" crossorigin="anonymous"></script>  
      <!-- jQuery -->
      <script src="{{asset('assets/vendors/jquery/dist/jquery.min.js')}}"></script>
      <!-- Bootstrap -->
      <script  script src="{{asset('assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
      <!-- FastClick -->
      <script src="{{asset('assets/vendors/fastclick/lib/fastclick.js')}}"></script>
      <!-- NProgress -->
      <script src="{{asset('assets/vendors/nprogress/nprogress.js')}}"></script>
      <!-- Chart.js -->
      <script src="{{asset('assets/vendors/Chart.js/dist/Chart.min.js')}}"></script>
    
      <!-- Custom Theme Scripts -->
      <script src="{{asset('assets/build/js/custom.min.js')}}"></script>
      
    {% endblock %}
	
  </body>
</html>