{% extends './admin/adminbase.html.twig' %}

{% block title %}Agent | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="row">

        <div class="x_content bs-example-popovers">
            {% if carte_pro == null %}
                
                <div class="alert alert-secondary alert-completer " role="alert">
                    <strong>Carte Professionnelle: </strong>Veuillez cliquez sur ce lien 👉🏽 <a class="link" href="{{ path('app_admin_carte_pro_new') }}"  class="text-decoration-none float-left m-1" title="Imprimer Carte Professionnelle"> <i class="fas fa-id-card text-info"></i> </a>
                </div>   
            {% endif %} 
            {% if statut_agent == null %}      
                <div class="alert alert-secondary alert-completer " role="alert">
                    <strong>Statut Agent: </strong> Veuillez cliquez sur ce lien 👉🏽 <a class="link" href="{{ path('app_admin_statut_agent_new') }}"  class="text-decoration-none float-left m-1" title="Classer l'agent"> <i class="fas fa-clipboard-list text-info"></i> </a>
                </div>    
            {% endif %}

        </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
              <div class="x_title">
                <h2>Agent</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    {% if is_granted("ROLE_RH_ADMIN")== true %}
                        <li>
                            <a type="button" class="link" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                            {% include "./admin/agent/delete.html.twig" %}
                        </li>
                        <li>
                            <a class="link" href="{{ path('app_admin_agent_edit', {'id': agent.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="link" href="{{ path('app_admin_agent_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <p class="text-muted font-13 m-b-30">
                              {{ agent.Prenom}} {{ agent.Nom }}.
                            </p>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="card o-hidden border-0 shadow-lg my-5">
                                                <div class="card-body p-1">
                                                    <div class="row">
                                                        <div class="col-lg-10 col-xs-12 mx-auto">
                                                            <div class="p-1">
                                                                <h2>Informations Personnelles</h2>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">
                                                                        <p><strong>Nom Complet</strong>: {{ agent.Prenom}} {{ agent.Nom }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Date et Lieu de Naissance</strong>: {{ agent.dateNaissance ? agent.dateNaissance|date('d-m-Y') : '' }} à {{ agent.lieuNaissance }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Genre</strong>: {{ agent.Genre }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Type d'Agent</strong>: {{ agent.typeAgent.NomTypeAgent }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Matricule</strong>: {{ agent.Matricule }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Fonction</strong>: {{ agent.Fonction }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Poste</strong>: {{ agent.poste.NomPoste }}</p>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <p><strong>Service/Cellule/Bureau</strong>: {{ agent.sousStructure.NomSousStructure }}</p>
                                                                    </li>
                                                                </ul>                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="card o-hidden border-0 shadow-lg my-5">
                                                <div class="card-body p-1">
                                                    <div class="row">
                                                        <div class="col-lg-10 col-xs-12 mx-auto">
                                                            <div class="p-1">
                                                                <h2>Informations Supplémentaires</h2>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">
                                                                            <strong>Carte Professionnelle :</strong><br>
                                                                            
                                                                            {% if carte_pro == null %}
                                                                                <strong>Veuillez cliquez sur ce lien 👉🏽 </strong> <a class="link" href="{{ path('app_admin_carte_pro_new') }}"  class="text-decoration-none float-left m-1" title="Imprimer Carte Professionnelle"> <i class="fas fa-id-card text-info"></i> </a>
                                                                            {% else %}
                                                                                <a class="link" href="{{ path('app_admin_carte_pro_show_code', {'id': carte_pro.id}) }}"  class="text-decoration-none float-left m-1" title="Imprimer Carte Professionnelle"> <i class="fas fa-id-card-clip text-info"></i> </a>
                                                                            {% endif %} 
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <strong>Statut Agent : </strong><br> 
                                                                        {% if statut_agent == null %}      
                                                                            <strong>Veuillez cliquez sur ce lien 👉🏽 </strong> <a class="link" href="{{ path('app_admin_statut_agent_new') }}"  class="text-decoration-none float-left m-1" title="Classer l'agent"> <i class="fas fa-clipboard-list text-info"></i> </a>
                                                                        {% else %}
                                                                            <a class="link" href="{{ path('app_admin_carte_pro_show_code', {'id': statut_agent.id}) }}"  class="text-decoration-none float-left m-1" title="Statut de l'agent"> <i class="fas fa-print text-info"></i> </a>
                                                                        {% endif %}
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <strong>Matériels Informatiques :</strong> <br><br>
                                                                        {% if attributions == null %}
                                                                            <strong>Pas de matériel :</strong><a class="link" href="{{ path('app_admin_attribution_new')}}"  class="text-decoration-none float-left m-1" title="Attribuer un matériel"> <i class="fas fa-print text-info"></i></a>
                                                                        {% else %}
                                                                            {% for attribution in attributions %}
                                                                                <p>
                                                                                    <a class="link text-info" href="{{ path('app_admin_attribution_show', {'id': attribution.id}) }}"  class="text-decoration-none float-left m-1" title="Afficher les détails"> {{attribution.matos.typeMatos.nomTypeMatos}} {{attribution.matos.marqueMatos.nomMarqueMatos}} {{attribution.matos.modeleMatos}} - {{attribution.matos.snMatos}} </a>
                                                                                </p>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </li>
                                                                </ul>                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="card o-hidden border-0 shadow-lg my-5">
                                            <div class="card-body p-1">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xs-12 mx-auto">
                                                        <div class="p-1">
                                                            <h2>Historique de l'agent</h2>
                                                            <ul class="list-group">
                                                                <li class="list-group-item">
                                                                    <p><strong>Nom Complet</strong>: {{ agent.Prenom}} {{ agent.Nom }}</p>
                                                                </li>
                                                            </ul>                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
