{% extends 'admin/adminbase.html.twig' %}

{% block title %}État Véhicule| {{ parent() }}{% endblock %}

{% block body %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> {{etat_vehicule.NomEtatVehicule}} </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    {% if is_granted("ROLE_RH_ADMIN")== true %}
                        <li>
                            <a  href="{{ path('app_admin_etat_vehicule_delete', {'id': etat_vehicule.id}) }}" class="link text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                        </li>
                        <li>
                            <a  href="{{ path('app_admin_etat_vehicule_edit', {'id': etat_vehicule.id}) }}"  class="link text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                        </li>
                    {% endif %}
                    <li>
                        <a  href="{{ path('app_admin_etat_vehicule_index') }}" class="link text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fsa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Vehicules</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p><strong>Id</strong>: {{ etat_vehicule.id }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Nom</strong>: {{ etat_vehicule.NomEtatVehicule }}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {% include "admin/etat_vehicule/show_vehicules.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
