
              <ul class="nav side-menu">
            <li><a><i class="fa fa-dashboard"></i> Tableau de Bord <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{{ path('app_admin_dashboard_info') }}">Tableau de Bord</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-users"></i> Personnel<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a>Structure<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{{ path('app_admin_structure_index') }}">Structure</a>
                    </li>
                    <li><a href="{{ path('app_admin_sous_structure_index') }}">Sous Structure</a>
                    </li>
                  </ul>
                </li>
                <li><a>Agent <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu"><a href="{{ path('app_admin_agent_index') }}">Agent</a>
                    </li>
                  </ul>
                  
                </li>
              </ul>
            </li>                        

            <li><a><i class="fas fa-network-wired"></i> Informatique<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a>Matériel<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu"><a href="{{ path('app_admin_categorie_materiel_index') }}">Catégorie Matériel</a>
                    </li>
                    <li class="sub_menu"><a href="{{ path('app_admin_type_materiel_index') }}">Type Matériel</a>
                    </li>
                    <li class="sub_menu"><a href="{{ path('app_admin_marque_matos_index') }}">Marque Matériel</a>
                    </li>
                    <li class="sub_menu"><a href="{{ path('app_admin_fournisseur_index') }}">Fournisseur</a>
                    </li>
                    <li class="sub_menu"><a href="{{ path('app_admin_materiel_index') }}">Matériel</a>
                    </li>
                  </ul>
                </li>
                <li><a href="{{ path('app_admin_attribution_index') }}">Attribution</a></li>
                <li><a>Maintenance <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu"><a href="{{ path('app_admin_technicien_index') }}">Technicien</a></li>
                    <li class="sub_menu"><a href="{{ path('app_admin_ticket_index') }}">Ticket</a></li>
                    <li class="sub_menu"><a href="{{ path('app_admin_maintenance_index') }}">Maintenance</a></li>
                  </ul>
                </li>
              </ul>
            </li>  
            </li>
            <li><a><i class="fas fa-chart-line"></i> Statistiques<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{{ path('app_admin_stat_informatique') }}">Statistiques Informatique</a></li>
            </ul>                      
            </li>
            <li><a><i class="fa fa-user-circle"></i> Comptes <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{{ path('app_admin_user_index') }}">Comptes d'utilisateur</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Notifications</a></li>
              </ul>
            </li>
            <li>
              <a>
                <i class="fa fa-envelope-o"></i> Messagerie 
                <span class="badge bg-green">{{ messages|length }}</span><span class="fa fa-chevron-down"></span>
              </a>
              <ul class="nav child_menu">
                <li><a href="#">Messages</a></li>
              </ul>
            </li>
          </ul>