
                  <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">Prenom</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Genre</th>
                            <th class="text-center">Matricule</th>
                            <th class="text-center">Service/Cellule/Bureau</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for affectation in poste.affectations %}
                        <tr>
                            <td class="text-center">{{ affectation.statutAgent.agent.Prenom }}</td>
                            <td class="text-center">{{ affectation.statutAgent.agent.Nom}}</td>
                            <td class="text-center">{{ affectation.statutAgent.agent.Genre}}</td>
                            <td class="text-center">{{ affectation.statutAgent.Matricule}}</td>
                            <td class="text-center">{{ affectation.sousStructure.NomSousStructure}}</td>
                        </tr>
                        {% else %}
                        <tr>
                          <td class="text-center" colspan="7">
                            Pas de Données
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
