{% extends 'base.html.twig' %}

{% block title %}Notification{% endblock %}

{% block body %}
    <h1>Notification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notification.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ notification.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ notification.contenu }}</td>
            </tr>
            <tr>
                <th>Date_notification</th>
                <td>{{ notification.dateNotification ? notification.dateNotification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ notification.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_notification_index') }}">back to list</a>

    <a href="{{ path('app_admin_notification_edit', {'id': notification.id}) }}">edit</a>

    {{ include('admin/notification/delete.html.twig') }}
{% endblock %}
