              <ul class="nav side-menu">
                <li><a><i class="fa fa-dashboard"></i> Tableau de Bord <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#">Tableau de Bord Parc Auto</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-users"></i> Personnel<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a>Structure<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="{{ path('app_admin_structure_index') }}">Structure</a>
                        </li>
                        <li><a href="{{ path('app_admin_sous_structure_index') }}">Sous Structure</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                  <li><a><i class="fas fa-car"></i> Parc Automobile<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li class="sub_menu"><a href="{{ path('app_admin_type_vehicule_index') }}">Type de Véhicule</a></li>
                          <li class="sub_menu"><a href="{{ path('app_admin_marque_vehicule_index') }}">Marque Véhicule</a></li>
                          <li class="sub_menu"><a href="{{ path('app_admin_etat_vehicule_index') }}">État Véhicule</a></li>
                          <li class="sub_menu"><a href="{{ path('app_admin_vehicule_index') }}">Véhicule</a></li>
                          <li class="sub_menu"><a href="{{ path('app_admin_affectation_vehicule_index') }}">Affectation</a></li>
                      </ul>
                  </li>
                <li><a><i class="fas fa-chart-line"></i> Statistiques<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#">Statistiques Parc Auto</a></li>
                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-envelope-o"></i> Messagerie 
                    <span class="badge bg-green">{{ messages|length }}</span><span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li><a href="#">Messages</a></li>
                  </ul>
                </li>
              </ul>