{% extends './admin/adminbase.html.twig' %}

{% block title %}Type de Structure | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Type de Structure</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="link" href="#" class="text-decoration-none float-left m-1" title="Liste des Structure"><i class="fas fa-list text-info"></i> </a> 
                </li>
                <li>
                    <a type="button" class="link" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                    {% include "./admin/type_structure/delete.html.twig" %}
                </li>
                <li>
                    <a class="link" href="{{ path('app_admin_type_structure_edit', {'id': type_structure.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                </li>
                <li>
                    <a class="link" href="{{ path('app_admin_type_structure_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <p class="text-muted font-13 m-b-30">
                        {{ type_structure.NomTypeStructure}}.
                        </p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 mr-2">
                                        <div class="card o-hidden border-0 shadow-lg my-5">
                                            <div class="card-body p-1">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xs-12 mx-auto">
                                                        <div class="p-1">
                                                            <ul class="list-group">
                                                                <li class="list-group-item">
                                                                    <p><strong>Id</strong>: {{ type_structure.id }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Type de Structure</strong>: {{ type_structure.NomTypeStructure }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Description</strong>:</p>
                                                                    {{ type_structure.DescriptionTypeStructure|raw }}
                                                                </li>
                                                            </ul>                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

