{% extends './admin/adminbase.html.twig' %}

{% block title %}Marque du Matériel | {{ parent() }}{% endblock %}
{% block body %}
<div class="row">
<div class="col-md-12 col-sm-12 ">
  <div class="x_panel">
    <div class="x_title">
      <h2>Marque du Matériel</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li>
            <a href="{{ path('app_admin_marque_matos_new') }}" title="Ajout Marque du Matériel" ><i class="fas fa-fw fa-plus-circle"></i></a>
        </li> 
        <li>
            <a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-box table-responsive">
            <p class="text-muted font-13 m-b-30">
              Liste des Marque du Matériels
            </p>
            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th class="text-center">Id</th>
                      <th class="text-center">Nom</th>
                      <th class="text-center">Informations</th>
                  </tr>
              </thead>
              <tbody>
              {% for marque_mato in marque_matos %}
                  <tr>
                      <td class="text-center">{{ marque_mato.id }}</td>
                      <td class="text-center">{{ marque_mato.nomMarqueMatos }}</td>
                      <td class="text-center">
                        <a href="{{ path('app_admin_marque_matos_show', {'id': marque_mato.id}) }}"><i class="fas fa-eye text-info" title="Détails"></i></a>
                      </td>
                  </tr>
              {% else %}
                  <tr>
                      <td class="text-center" colspan="3"><a href="{{ path('app_admin_marque_matos_new') }}" class="btn btn-primary" title="Ajout Marque du Matériel" >Ajouter Marque du Matériel<i class="fas fa-fw fa-plus-circle"></i></a></td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}




