

      <div class="row">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
          <div class="tile-stats">
            <div class="icon"><i class="fas fa-users text-success"></i></div>
            <div class="count">{{agents|length}}</div>
            <h3>Agents</h3>
            <p>Total Agent.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
          <div class="tile-stats">
            <div class="icon"><i class="fas fa-male text-dark"></i></div>
            <div class="count">{{hommes|length}}</div>
            <h3>Hommes</h3>
            <p>Total Homme.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
          <div class="tile-stats">
            <div class="icon"><i class="fas fa-female text-info"></i></div>
            <div class="count">{{femmes|length}}</div>
            <h3>Femmes</h3>
            <p>Total Femme.</p>
          </div>
        </div>
      </div>
      <div class="row">
          {% for type_structure in type_structures %}
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-city"></i></div>
                <div class="count">{{type_structure.Structures|length}}</div>
                <h3>{{type_structure.NomTypeStructure}}</h3>
                <p>Total {{type_structure.NomTypeStructure}}.</p>
              </div>
            </div>
            
          {% endfor %}
      </div>
      <div class="row">
          {% for type_sous_structure in type_sous_structures %}  
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-building"></i></div>
                <div class="count">{{type_sous_structure.sousStructures|length}}</div>
                <h3>{{type_sous_structure.NomTypeSousStructure}}</h3>
                <p>Total {{type_sous_structure.NomTypeSousStructure}}.</p>
              </div>
            </div>
          {% endfor %}
      </div>