  {# ORDINATEUR PORTABLE #}
    <div class="row">
    {# Total #}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-primary text-white">
          <div class="icon"><i class="fas fa-laptop text-white"></i></div>
          <div class="count text-white">
            {{ laptops|length }}
          </div>
          <h3 class=" text-white">Total</h3>
          <p class=" text-white">Total Ordinateur Portables.</p>
        </div>
      </div>
    {# Attribués #}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-success text-white">
          <div class="icon"><i class="fas fa-fingerprint text-white"></i></div>
          <div class="count text-white">
            {{ laptopAttribs|length }}
          </div>
          <h3 class=" text-white">Attribution</h3>
          <p class=" text-white">Total Ordinateur Portables.</p>
        </div>
      </div>
    {# En Stock #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-info text-white">
          <div class="icon"><i class="fas fa-database text-white"></i></div>
          <div class="count text-white">
            {{ laptops|length - laptopAttribs|length }}
          </div>
          <h3 class="text-white">En Stock</h3>
          <p>Total O. Portable.</p>
        </div>
      </div>
    {# Amortis #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-danger text-white">
          <div class="icon"><i class="fas fa-skull-crossbones text-white"></i></div>
          <div class="count text-white">
            {{ laptopAmortis|length }}
          </div>
          <h3 class="text-white">Amortis</h3>
          <p>Total O. Portable.</p>
        </div>
      </div>
    {# En Pannes #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-warning text-dark">
          <div class="icon"><i class="fas fa-exclamation-triangle text-dark"></i></div>
          <div class="count text-dark">
            {{ laptopEnPannes|length }}
          </div>
          <h3 class="text-dark">En Pannes</h3>
          <p>Total O. Portable.</p>
        </div>
      </div>
    </div>
    {# ORDINATEUR FIXE & ALL-IN-ONE #}
    <div class="row">
    {# Total #}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-primary ">
          <div class="icon"><i class="fas fa-desktop text-white"></i></div>
          <div class="count text-white">
            {{ desktops|length + aios|length }}
          </div>
          <h3 class=" text-white">Total</h3>
          <p class="text-white">Total Ordinateur Fixe.</p>
        </div>
      </div>
    {# Attribués #}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-success text-white">
          <div class="icon"><i class="fas fa-fingerprint text-white"></i></div>
          <div class="count text-white">
            {{ desktopAttribs|length + aioAttribs|length }}
          </div>
          <h3 class="text-white">Attribués</h3>
          <p class="text-white">Total Ordinateur Fixe attribués.</p>
        </div>
      </div>
    {# En stock #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-info text-white">
          <div class="icon"><i class="fas fa-database text-white"></i></div>
          <div class="count text-white">
            {{ desktops|length + aios|length - desktopAttribs|length - aioAttribs|length }}
          </div>
          <h3 class="text-white">En Stock</h3>
          <p class="text-white">Total Ordinateur Fixe en stock.</p>
        </div>
      </div>
    {# Amortis #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-danger text-white">
          <div class="icon"><i class="fas fa-skull-crossbones text-white"></i></div>
          <div class="count text-white">
            {{ desktopAmortis|length + aioAmortis|length }}
          </div>
          <h3 class="text-white">Amortis</h3>
          <p>Total O. Fixe.</p>
        </div>
      </div>
    {# En Pannes #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-warning text-dark">
          <div class="icon"><i class="fas fa-exclamation-triangle text-dark"></i></div>
          <div class="count text-dark">
            {{ desktopEnPannes|length + aioEnPannes|length }}
          </div>
          <h3 class="text-dark">En Pannes</h3>
          <p>Total O. Fixe.</p>
        </div>
      </div>
    </div>
    {# ORDINATEUR FIXE & ALL-IN-ONE #}
    <div class="row">
    {# Total #}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-primary ">
          <div class="icon"><i class="fas fa-desktop text-white"></i></div>
          <div class="count text-white">
            {{ desktops|length + aios|length }}
          </div>
          <h3 class=" text-white">Total</h3>
          <p class="text-white">Total Ordinateur Fixe.</p>
        </div>
      </div>
    {# Attribués #}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-success text-white">
          <div class="icon"><i class="fas fa-fingerprint text-white"></i></div>
          <div class="count text-white">
            {{ desktopAttribs|length + aioAttribs|length }}
          </div>
          <h3 class="text-white">Attribués</h3>
          <p class="text-white">Total Ordinateur Fixe attribués.</p>
        </div>
      </div>
    {# En stock #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-info text-white">
          <div class="icon"><i class="fas fa-database text-white"></i></div>
          <div class="count text-white">
            {{ desktops|length + aios|length - desktopAttribs|length - aioAttribs|length }}
          </div>
          <h3 class="text-white">En Stock</h3>
          <p class="text-white">Total Ordinateur Fixe en stock.</p>
        </div>
      </div>
    {# Amortis #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-danger text-white">
          <div class="icon"><i class="fas fa-skull-crossbones text-white"></i></div>
          <div class="count text-white">
            {{ desktopAmortis|length + aioAmortis|length }}
          </div>
          <h3 class="text-white">Amortis</h3>
          <p>Total O. Fixe.</p>
        </div>
      </div>
    {# En Pannes #}
      <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 ">
        <div class="tile-stats bg-warning text-dark">
          <div class="icon"><i class="fas fa-exclamation-triangle text-dark"></i></div>
          <div class="count text-dark">
            {{ desktopEnPannes|length + aioEnPannes|length }}
          </div>
          <h3 class="text-dark">En Pannes</h3>
          <p>Total O. Fixe.</p>
        </div>
      </div>
    </div>