

      <div class="row">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
          <div class="tile-stats bg-success text-white">
            <div class="icon"><i class="fas fa-users text-white"></i></div>
            <div class="count">{{agents|length}}</div>
            <h3 class=" text-white">Agents</h3>
            <p>Total Agent.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
          <div class="tile-stats bg-dark text-white">
            <div class="icon"><i class="fas fa-male text-white"></i></div>
            <div class="count">{{hommes|length}}</div>
            <h3 class=" text-white">Hommes</h3>
            <p>Total Homme.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
          <div class="tile-stats bg-info text-white">
            <div class="icon"><i class="fas fa-female text-white"></i></div>
            <div class="count">{{femmes|length}}</div>
            <h3 class="text-white">Femmes</h3>
            <p>Total Femme.</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for typeAgent in typeAgents %}
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
            <div class="tile-stats bg-primary">
              <div class="icon"><i class="fas fa-user text-white"></i></div>
              <div class="count text-white">{{typeAgent.agents|length}}</div>
              <h4 class="text-white">{{typeAgent.nomTypeAgent}}</h4>
              <p class="text-white">Total {{typeAgent.nomTypeAgent}}.</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
          {% for type_structure in type_structures %}
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-city"></i></div>
                <div class="count">{{type_structure.Structures|length}}</div>
                <h3>{{type_structure.NomTypeStructure}}</h3>
                <p>Total {{type_structure.NomTypeStructure}}.</p>
              </div>
            </div>
            
          {% endfor %}
      </div>
      <div class="row">
          {% for type_sous_structure in type_sous_structures %}  
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-building"></i></div>
                <div class="count">{{type_sous_structure.sousStructures|length}}</div>
                <h3>{{type_sous_structure.NomTypeSousStructure}}</h3>
                <p>Total {{type_sous_structure.NomTypeSousStructure}}.</p>
              </div>
            </div>
          {% endfor %}
      </div>