{% extends './admin/adminbase.html.twig' %}

{% block title %}Statut Agent | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Statut Agent</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li>
                  <a href="{{ path('app_admin_statut_agent_new') }}" title="Ajout Statut Agent" ><i class="fas fa-fw fa-plus-circle"></i></a>
              </li>
              <li>
                  <a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
                  <p class="text-muted font-13 m-b-30">
                    Liste des agents et leur statut
                  </p>
                  <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Id</th>
                            <th class="text-center">Agent</th>
                            <th class="text-center">Grade</th>
                            <th class="text-center">Echelon</th>
                            <th class="text-center">Hierarchie</th>
                            <th class="text-center">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for statut_agent in statut_agents %}
                        <tr>
                            <td class="text-center">
                              {% set dateAvancement = statut_agent.dateAvancement|date("d-m-Y") %}
                              {% set avancement = date("now"|date('d-m-Y')).diff(date(dateAvancement)) %}
                              {% if avancement.y >= 2 %}
                                <i class="fas fa-bell text-danger" title="Procèder pour l'avancement de l'agent"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">{{ statut_agent.id }}</td>
                            <td class="text-center">{{ statut_agent.agent.Prenom }} {{ statut_agent.agent.Nom }} - {{ statut_agent.agent.Matricule }} </td>
                            <td class="text-center">{{statut_agent.grade }}</td>
                            <td class="text-center">{{statut_agent.echellon }}</td>
                            <td class="text-center">{{statut_agent.hierarchie }}</td>
                            <td class="text-center">
                                <a href="{{ path('app_admin_statut_agent_show', {'id': statut_agent.id}) }}"><i class="fas fa-eye text-info" title="Détails"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                          <td class="text-center" colspan="7">
                            <a href="{{ path('app_admin_statut_agent_new') }}" class="btn btn-primary" title="Ajout Statut Agent" >Ajouter Statut Agent <i class="fas fa-fw fa-plus-circle"></i></a>
                          </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
