{% extends './admin/adminbase.html.twig' %}

{% block title %}Statut Agent | {{ parent() }}{% endblock %}

{% block body %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> {{statut_agent.agent.Prenom}} {{statut_agent.agent.Nom}} - {{statut_agent.matricule}} </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    {% if is_granted("ROLE_RH_ADMIN")== true %}
                        <li>
                            <a class="link" href="{{ path('app_admin_statut_agent_delete', {'id': statut_agent.id}) }}" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                        </li>
                        <li>
                            <a class="link" href="{{ path('app_admin_statut_agent_edit', {'id': statut_agent.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="link" href="{{ path('app_admin_statut_agent_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fas fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"> Historique</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p><strong>Id</strong>: {{ statut_agent.id }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Nom Complet</strong>: {{ statut_agent.agent.Prenom}} {{ statut_agent.agent.Nom }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Matricule</strong>: {{ statut_agent.Matricule }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Fonction</strong>: {{ statut_agent.Fonction }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Grade et Echelon</strong>: {{ statut_agent.grade }} {{statut_agent.echellon}}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Hiérarchie</strong>: {{statut_agent.hierarchie}}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Date de prise de service</strong>: {{statut_agent.DatePriseService ? statut_agent.DatePriseService|date('d-m-Y'):' '}}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Date dernier avancement</strong>: {{statut_agent.DateAvancement ? statut_agent.DateAvancement|date('Y'):' '}}</p>
                            </li>
                        </ul>  
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {% include "./admin/statut_agent/show_historique.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}  




    
