{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description_proprietaire</th>
                <th>Date_declaration</th>
                <th>Observation_technicien</th>
                <th>Solution_apportée</th>
                <th>Date_sortie</th>
                <th>Status_ticket</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.descriptionProprietaire }}</td>
                <td>{{ ticket.dateDeclaration ? ticket.dateDeclaration|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.observationTechnicien }}</td>
                <td>{{ ticket.solutionApportée }}</td>
                <td>{{ ticket.dateSortie ? ticket.dateSortie|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.statusTicket }}</td>
                <td>
                    <a href="{{ path('app_admin_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_admin_ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_ticket_new') }}">Create new</a>
{% endblock %}
