<!-- Recto -->
<div class="row">
  <div class="x_content">
      <div class="col-md-8 col-sm-8  profile_details">
        <div class="well profile_view recto shadow-1 border-success" style="background-image:url('{{asset('assets/images/logo-opacity.png')}}');">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-2 mx-auto"><img class="img-fluid" src="{{asset('assets/images/logo.png')}}" alt="" width="70" ></div>
              <div class="col-md-8 text-center">
                <p><strong>REPUBLIQUE DU SENEGAL</strong>
                  <br>
                  Ministère du Commerce, de la Consommation et des PME<br>
                    <img src="{{asset('assets/images/flag.png')}}" alt="" height="5" width="100%">
                </p>
              </div>
              <div class="col-md-2 mx-auto"><img class="img-fluid" src="{{asset('assets/images/flag.png')}}" alt="" width="70" ></div>
            </div>
            <div class="row">
              <div class="right col-sm-4 text-center">
                <div class="photo_agent">
                  <img src="{{asset('assets/photoAgent/'~ carte_pro.PhotoAgent)| imagine_filter('my_image')}}" alt="photo_agent" class="img-fluid" width="120" height="50" ><br>
                </div>
                <br>  
                <br>
                <img src="{{qrCodeAgent}}" alt="" width="100">
              </div>
              <div class="left col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <h4><small>Prénom</small>: </h4>
                  </div>
                  <div class="col-sm-9">
                    <strong style="font-size: 1.5em ;"> {{carte_pro.affectation.statutAgent.agent.Prenom}}</strong>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    <h4><small>Nom</small>:</h4>
                  </div>
                  <div class="col-sm-9">
                    <strong style="font-size: 1.5em ;"> {{carte_pro.affectation.statutAgent.agent.Nom}}</strong>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    <h4><small>Matricule</small>:</h4>
                  </div>
                  <div class="col-sm-9">
                    <strong style="font-size: 1.5em ;"> {{carte_pro.affectation.statutAgent.Matricule}}</strong>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    <h4><small>Fonction</small>:</h4>
                  </div>
                  <div class="col-sm-9">
                    <strong style="font-size: 1.2em ;"> {{carte_pro.affectation.statutAgent.Fonction}}</strong>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-sm-3">
                        <h4><small>Service</small>:</h4>
                      </div>
                      <div class="col-sm-9">
                        <strong style="font-size: 1.2em ;"> {{carte_pro.affectation.sousStructure.NomSousStructure}}</strong>
                      </div>
                    </div>
                    <hr style="border: 1px solid green ;">
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Verso -->
<!-- Recto -->
<div class="row">
  <div class="x_content">
      <div class="col-md-8 col-sm-8  profile_details">
        <div class="well profile_view recto shadow-1 border-success" style="background-image:url('{{asset('assets/images/logo-opacity.png')}}');">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-2 mx-auto"><img class="img-fluid" src="{{asset('assets/images/logo.png')}}" alt="" width="70" ></div>
              <div class="col-md-8 text-center">
                <p><strong>REPUBLIQUE DU SENEGAL</strong>
                  <br>
                  Ministère du Commerce, de la Consommation et des PME<br>
                    <img src="{{asset('assets/images/flag.png')}}" alt="" height="5" width="100%">
                </p>
              </div>
              <div class="col-md-2 mx-auto"><img class="img-fluid" src="{{asset('assets/images/flag.png')}}" alt="" width="70" ></div>
            </div>
            <div class="row">
              <div class="left col-sm-6">
                <div class="row">
                  <div class="col-sm-6">                
                    <p><small> Date de Délivrance:</small><br><strong>{{ carte_pro.dateDelivrance ? carte_pro.dateDelivrance|date('d-m-Y') : '' }}</strong> </p>
                  </div>
                  <div class="col-sm-6">
                    <p><small> Date d'Expiration:</small><br><strong>{{ carte_pro.dateExpiration ? carte_pro.dateExpiration|date('d-m-Y') : '' }}</strong></p>
                  </div>
                </div>
                <br>
                <p>Durée Validité: <br><strong> 4 ans </strong></p>
              </div>
              <div class="right col-sm-6 text-center">
                <img src="{{asset('assets/images/stamp.png')}}" alt="" class="img-circle" width="90"><br>
                <img src="{{asset('assets/images/cachet.png')}}" alt="" class="img-fluid" width="90">
                <br>
                <img src="{{asset('assets/images/sign.png')}}" alt="" width="50">
              </div>
            </div>
            <hr style="border: 1px solid green ;">
            <div class="row">
              <div class="col-sm-12">
                <small class="text-dark brief">Contact: 
                  <img src="{{asset('assets/images/phone.png')}}" alt="" width="15"> 
                  <strong>338692120</strong>
                  <img src="{{asset('assets/images/mail.png')}}" alt="" width="15"> 
                  <strong>commerce@commerce.gouv.sn</strong>
                  <img src="{{asset('assets/images/loc.png')}}" alt="" width="15"> 
                  <strong>Spherex - Diamniadio</strong>
                </small> 
                <br>
                <small class=" text-dark brief"><strong style="font-weight: 900;"> La carte est la propriété du Ministère du Commerce de la Consommation et des PME</strong></small>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


