{% extends './admin/adminbase.html.twig' %}

{% block title %}Fournisseur | {{ parent() }}{% endblock %}
{% block body %}
<div class="row">
<div class="col-md-12 col-sm-12 ">
  <div class="x_panel">
    <div class="x_title">
      <h2>Fournisseur</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li>
            <a href="{{ path('app_admin_fournisseur_new') }}" title="Ajout Fournisseur" ><i class="fas fa-fw fa-plus-circle"></i></a>
        </li> 
        <li>
            <a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-box table-responsive">
            <p class="text-muted font-13 m-b-30">
              Liste des Fournisseurs
            </p>
            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th class="text-center">Id</th>
                      <th class="text-center">Nom</th>
                      <th class="text-center">Informations</th>
                  </tr>
              </thead>
              <tbody>
              {% for fournisseur in fournisseurs %}
                  <tr>
                      <td class="text-center">{{ fournisseur.id }}</td>
                      <td class="text-center">{{ fournisseur.nomFournisseur }}</td>
                      <td class="text-center">
                        <a href="{{ path('app_admin_fournisseur_show', {'id': fournisseur.id}) }}"><i class="fas fa-eye text-info" title="Détails"></i></a>
                      </td>
                  </tr>
              {% else %}
                  <tr>
                      <td class="text-center" colspan="3"><a href="{{ path('app_admin_fournisseur_new') }}" class="btn btn-primary" title="Ajout Fournisseur" >Ajouter Fournisseur<i class="fas fa-fw fa-plus-circle"></i></a></td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}




