
{% extends './admin/adminbase.html.twig' %}

{% block title %}affectation | {{ parent() }}{% endblock %}

{% block body %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Affectation </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    {% if is_granted("ROLE_INFO_ADMIN")== true %}
                        <li>
                            <a type="button" class="link" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                            {% include "./admin/affectation/delete.html.twig" %}
                        </li>
                        <li>
                            <a class="link" href="{{ path('app_admin_affectation_edit', {'id': affectation.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="link" href="{{ path('app_admin_affectation_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fsa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p><strong>Id</strong>: {{ affectation.id }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Nom Complet Agent</strong>: {{ affectation.statutAgent.agent.prenom }} {{affectation.statutAgent.agent.nom}}-{{affectation.statutAgent.matricule}} </p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Service/Bureau/Cellule</strong>: {{ affectation.sousStructure.descriptionSousStructure }} </p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Poste</strong>: {{ affectation.poste.nomPoste }}</p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Date d'affectation</strong>: {{ affectation.dateaffectation ? affectation.dateaffectation|date('d-m-Y') : '' }} </p>
                            </li>
                            <li class="list-group-item">
                                <p><strong>Status</strong>: {{ affectation.statusAffectation }}</p>
                            </li>
                        </ul>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}









  
                                                                
                                                                
                                                                   